<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Status Alert</h1>
    <h2>Cart Id: <%=@cart.id%>
    <h3>Imei: <%=@imei%></h3>
  </body>
</html>