// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#title {
  font-size:2em;
  font-weight: bolder;
}

#myaccount {
  font-weight: bolder;
}

.padding7em {
  padding-top:7em;
}
.padding2em {
  padding-top:2em;
}
#videos{
  
}
#imei{
 
}

.unlockHeader {
  font-size:2em;
  font-weight: bolder;
}

