// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#test{border: 1px solid green;}
.container{
  margin-top: 20px;
}
header{
  //border: 1px solid red; 
  background-color: #E8CCE6;
}


#nav-top {
//border: 1px solid green;  
margin-top: 10px;
}
.breadcrumb > li + li:before {
  
  content: none;
}
.breadcrumb > li {
  padding: 10px;
  
}

.dropdown-menu{margin-top: -15px;}



#title {
  font-size:3em;
  font-weight: bolder;
}

#myaccount {
  font-weight: bolder;
}

.padding2em {
  padding-top:2em;
}
#videos{
  
}
#imei{
 
}
