// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav-top ul {
  list-style-type: none;
}

#menubar {
  position: relative;
}

.mainBox {
    border: solid thin black;
}


#title {
  font-size:3em;
  font-weight: bolder;
}

#myaccount {
  font-weight: bolder;
}

.padding2em {
  padding-top:2em;
}
