<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<html>
	<head>
		<title>Vendor Extraction Report</title>
		<style type='text/css'>
			.textFont {
				font-family: Verdana, arial;
				font-size: 12px;
				font-weight: normal;
			}
			.applyBorder {
				border-bottom: solid 1px black;
				border-top: solid 1px black;
				border-left: solid 1px black;
				border-right: solid 1px black;
			}
			.applyBottomBorder {
				border-bottom: solid 1px black;
			}

		</style>
	</head>
	<body>
		<div align='center'>
			<table style='width:680px;' cellpadding='5' class='applyBorder'>
				<tr>
					<td style='width:300px' class='applyBottomBorder' ><img width='300' height='80' src='http://www.eharlequin.com/media/images/eHarlequin.png' alt='Harlequin' /></td>
					<td style='width:380px;font-family: Verdana,arial;font-size: 12px;font-weight: bold;' align='center' class='applyBottomBorder' >Google Agency - USA RPS Report (USA)
					<p style='font-family:verdana;font-size:11px;font-weight:bold;color:red'>
						(UAT-TEST ENVIRONMENT)
					</p></td>
				</tr>
				<tr>
					<td colspan='2' align='left' class='textFont'> Processed Month: Oct 2014
					<br>
					<br>
					</td>
				</tr>
				<tr>
					<td colspan='2' align='left' class='textFont'>
					<br>
					<b><u>Final RPS Reconciliation Summary:</u></b>
					<br>
					<table cellpadding='5' style='font-family:verdana;font-size:11px;border: solid 1px #898989;' width='100%'>
						<tr>
							<th align='left' style='border-bottom: solid 1px #898989;'>Description</th><th align='right' style='border-bottom: solid 1px #898989;'>Units</th><th align='right' style='border-bottom: solid 1px #898989;'>Sales Amount</th><th align='right' style='border-bottom: solid 1px #898989;'>Sales Revenue</th><th align='right' style='border-bottom: solid 1px #898989;'>Tax</th><th align='left' style='border-bottom: solid 1px #898989;'>Remarks</th>
						</tr>
						<tr>
							<td align='left'>Gross
							<br>
							(Include Bundle Units 21,981)</td>
							<td align='right'>20400</td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='left'>USD</td><td align='right'>108114.55</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='right'>83819.39</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='right'>3162.75</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:8px;' border='0' width='100%'>
								<tr>
									<th align='left' style='border-bottom: solid 1px #898989;'>Currency (S)</th><th align='right' style='border-bottom: solid 1px #898989;'>ExRate</th><th align='right' style='border-bottom: solid 1px #898989;'>Currency (RPS)</th><th align='right' style='border-bottom: solid 1px #898989;'>Gr.Amount (S)</th><th align='right' style='border-bottom: solid 1px #898989;'>Gr.Amount (RPS)</th>
								</tr>
								<tr>
									<td>USD</td><td>1</td><td>USD</td><td align='right'>83819.39</td><td align='right'>83819.39</td>
								</tr>
							</table></td>
						</tr>
						<tr>
							<td align='left'>Refund
							<br>
							(Include Bundle Units 28)</td>
							<td align='right'>22</td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='left'>USD</td><td align='right'>128.32</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='right'>104.78</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='right'>1.13</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:8px;' border='0' width='100%'>
								<tr>
									<th align='left' style='border-bottom: solid 1px #898989;'>Currency (S)</th><th align='right' style='border-bottom: solid 1px #898989;'>ExRate</th><th align='right' style='border-bottom: solid 1px #898989;'>Currency (RPS)</th><th align='right' style='border-bottom: solid 1px #898989;'>Re.Amount (S)</th><th align='right' style='border-bottom: solid 1px #898989;'>Re.Amount (RPS)</th>
								</tr>
								<tr>
									<td>USD</td><td>1</td><td>USD</td><td align='right'>104.78</td><td align='right'>104.78</td>
								</tr>
							</table></td>
						</tr>
						<tr>
							<td align='left'><a href='http://toredtdev04/myvsxtractor/ViewHistory.aspx?da=y&vid=37&id=1911&cid=-1'>Excluded/Ignored</a>
							<br>
							(Include Bundle Units 171)</td>
							<td align='right'>151</td>
							<td align='center'>-</td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='right'>596.99</td>
								</tr>
							</table>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='left'>USD</td><td align='right'>781.54</td>
								</tr>
							</table>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='right'>27.67</td>
								</tr>
							</table></td>
							<td align='center'>-</td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:8px;' border='0' width='100%'>
								<tr>
									<th align='left' style='border-bottom: solid 1px #898989;'>Currency (S)</th><th align='right' style='border-bottom: solid 1px #898989;'>ExRate</th><th align='right' style='border-bottom: solid 1px #898989;'>Currency (RPS)</th><th align='right' style='border-bottom: solid 1px #898989;'>Re.Amount (S)</th><th align='right' style='border-bottom: solid 1px #898989;'>Re.Amount (RPS)</th>
								</tr>
								<tr>
									<td>USD</td><td>1</td><td>USD</td><td align='right'>596.99</td><td align='right'>596.99</td>
								</tr>
							</table>&#149;  Transactions excluded from the source
							<br>
							</td>
						</tr>
						<tr>
							<td align='left'><a href='http://toredtdev04/myvsxtractor/ViewHistory.aspx?da=y&vid=37&id=1911&cid=0'>$0 Revenue with waiver/contract No Royalty</a>
							<br>
							(Include Bundle Units 0)</td>
							<td align='right'>0</td>
							<td align='center'>-</td>
							<td align='center'>-</td>
							<td align='center'>-</td>
							<td align='left'></td>
						</tr>
						<tr>
							<td align='left'><a href='http://toredtdev04/myvsxtractor/ViewHistory.aspx?da=y&vid=37&id=1911&cid=-2'>Royalty Units with $0 Revenue</a>
							<br>
							(Include Bundle Units 0)</td>
							<td align='right'>0</td>
							<td align='center'>-</td>
							<td align='center'>-</td>
							<td align='center'>-</td>
							<td align='left'></td>
						</tr>
						<tr>
							<td align='left'>Net
							<br>
							(Include Bundle Units 21,782)</td>
							<td align='right'>20227</td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='left'>USD</td><td align='right'>107204.69</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='right'>83117.62</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
								<tr>
									<td align='right'>3133.95</td>
								</tr>
							</table></td>
							<td align='left'>
							<table cellpadding='2' style='font-family:verdana;font-size:8px;' border='0' width='100%'>
								<tr>
									<th align='left' style='border-bottom: solid 1px #898989;'>Currency (S)</th><th align='right' style='border-bottom: solid 1px #898989;'>ExRate</th><th align='right' style='border-bottom: solid 1px #898989;'>Currency (RPS)</th><th align='right' style='border-bottom: solid 1px #898989;'>Gr.Amount (S)</th><th align='right' style='border-bottom: solid 1px #898989;'>Gr.Amount (RPS)</th>
								</tr>
								<tr>
									<td>USD</td><td>1</td><td>USD</td><td align='right'>83222.4</td><td align='right'>83222.4</td>
								</tr>
							</table></td>
						</tr>
					</table></td>
				</tr>
				<tr style='border-bottom: solid 1px #898989;border-top: solid 1px #898989;'>
					<td colspan='5' align='left'><b>VENDOR FILE RECORD COUNTS RECONCILIATION</b></td>
				</tr>
				<tr>
					<td colspan='5' align='left'>
					<table cellpadding='2' style='font-family:verdana;font-size:11px;' border='0' width='100%'>
						<tr>
							<td> Total No Of Records Downloaded: </td>
							<td>20271</td>
							<td> No Of Unique Records Downloaded: </td>
							<td>6187</td>
						</tr>
						<td> Dropped Records Condition: </td>
						<td>0</td>
						<td> Dropped ISBN Records: </td>
						<td>0</td>
				</tr>
				<td> Total Records in a File: </td>
				<td>20271</td>
				<td> ISBN records Processed in RPS: </td>
				<td>6187</td>
				</tr>
			</table></td>
			</tr>
			</table>
		</div>
		<div style="font-size:small">
			ver. 1.5.5436.19082
		</div>
	</body>
</html>